<a href="https://colab.research.google.com/github/khyatidahiya/TECHINCAL_TRAINING_ASSIGNMENTS/blob/main/datastructures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# LIST
a = [ 1, 2, 3, "Potato", "Banana", True, False ]
# ORDERED, INDEXED

In [2]:
print(a[0]) # INDEX from left

1

In [3]:
print(a[-1]) # Index from RIGHT-> last element

False

In [4]:
a
# ORDER of elements inside the LIST DOES NOT CHANGE!

[1, 2, 3, 'Potato', 'Banana', True, False]

In [5]:
# SET
s = { "Banana", "Banana", 42, False, 0, "Hippo", "Pikachu", 99}

In [6]:
s # False = 0

{42, 99, 'Banana', False, 'Hippo', 'Pikachu'}

In [7]:
# UNIQUE ELEMENTS

In [8]:
s[0] # ERROR -> UNINDEXED, UNORDERED!

TypeError: ignored

In [9]:
# Tuple
# READONLY
# ONce created-> CANNOT BE EDITED
t = (1,2,3)

In [10]:
t[-1], t[0] # INDEXED, ORDERED

(3, 1)

In [11]:
t[0] = "Happy" # ERROR-> READONLY not editable!

TypeError: ignored

In [12]:
# Dictionary
# SET with INDEXES!
# KEY-VALUE PAIRS-> keys are indexes, elements are values
d = { "Matrix":"Keanu", "Devil'sAdvocate": "Keanu", "FavFood": "Samosa", 42: "Life, Universe and Everything", False: "Bye bye", 3.14: "Value of Pi"}

In [13]:
d["Matrix"]

'Keanu'

In [14]:
d[3.14]

'Value of Pi'

In [15]:
d[42]

'Life, Universe and Everything'

In [16]:
d[55] = 42
# New element inserted!

In [17]:
# Dictionary is 2 separate lists-> KEYS and VALUES!
for k,v in d.items():
  print("Key = ", k, end=",")
  print(" Value = ", v)
  # print-> by default changes the line!

Key =  Matrix, Value =  Keanu
Key =  Devil'sAdvocate, Value =  Keanu
Key =  FavFood, Value =  Samosa
Key =  42, Value =  Life, Universe and Everything
Key =  False, Value =  Bye bye
Key =  3.14, Value =  Value of Pi
Key =  55, Value =  42

In [18]:
d.items()

dict_items([('Matrix', 'Keanu'), ("Devil'sAdvocate", 'Keanu'), ('FavFood', 'Samosa'), (42, 'Life, Universe and Everything'), (False, 'Bye bye'), (3.14, 'Value of Pi'), (55, 42)])